<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Local Library</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <div class="container-fluid">
        <a href="/books" style="text-decoration: none;">Books</a>
        <a href="/authors" style="text-decoration: none;">Authors</a>
        <a href="/bookinstances" style="text-decoration: none;">Book Instances</a>
        <a href="/genres" style="text-decoration: none;">Genres</a>
        <img src="https://cdn.dribbble.com/users/2367833/screenshots/7816190/media/b1aaf5c98510012b56422d1619dc62e8.gif"
            alt="img-home" class="img-fluid mx-auto d-block">

    </div>
</body>

</html>