<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Local Library</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <div class="container-fluid" style="text-align:center;">
        <a href="/books" style="text-decoration: none;" class="link-secondary">Books</a>
        <a href="/authors" style="text-decoration: none;" class="link-secondary">Authors</a>
        <a href="/bookinstances" style="text-decoration: none;" class="link-secondary">BookInstances</a>
        <a href="/genres" style="text-decoration: none;" class="link-secondary">Genres</a>
        <img src="https://cdn.dribbble.com/users/2367833/screenshots/7816190/media/b1aaf5c98510012b56422d1619dc62e8.gif"
            alt="img-home" class="img-fluid mx-auto d-block" style="max-width:50%;max-height:50%;">

    </div>

    <div class="contaoner">
        <p class='display-3'>Book Routes</p>
        <p class="lead"> /book/create<br>
            /books<br>
            /book/:id<br>
            /book/delete/:id<br>
            /book/update/:id<br>
            <br><br>
        <p class='display-3'>Author Routes</p>
        /author/create<br>
        /authors<br>
        /author/:id<br>
        /author/delete/:id<br>
        /author/update/:id<br>
        <br><br>
        <p class='display-3'>Genre Routes</p>
        /genre/create<br>
        /genres<br>
        /genre/:id<br>
        /genre/delete/:id<br>
        /genre/update/:id<br>
        <br><br>
        <p class='display-3'>BookInstance Routes</p>
        /bookinstance/create:bookid<br>
        /bookinstances<br>
        /bookinstance/:id<br>
        /bookinstance/delete/:id<br>
        /bookinstance/update/:id<br></p>
    </div>
</body>

</html>
